<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

<body id="page-top">

{% include 'navbar.html' %}

<header class="masthead">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-6 my-auto">
                <div class="header-content mx-auto">
                    <h1 class="mb-5">Manage your Nerva funds securely and anonymously.</h1>
                    {% if current_user.is_authenticated %}
                        {% if current_user.wallet_created %}
                            <a href="{{ url_for('wallet._dashboard') }}" class="btn btn-outline btn-xl">
                                Wallet Dashboard
                            </a>
                        {% else %}
                            <a href="{{ url_for('wallet._setup') }}" class="btn btn-outline btn-xl">
                                Setup Wallet
                            </a>
                        {% endif %}
                    {% else %}
                        <a href="{{ url_for('auth._register') }}" class="btn btn-outline btn-xl">Register</a>
                        <a href="{{ url_for('auth._login') }}" class="btn btn-outline btn-xl">Login</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6 my-auto">
                <iframe width="560" height="315"
                        src="https://www.youtube.com/embed/ToZX3sm2Vj8?autoplay=1">
                </iframe>
            </div>
        </div>
    </div>
</header>

<section class="section1" id="about">
    <div class="container">
        <div class="section-heading text-center">
            <h2>About</h2>
            <p>
                This is an <a href="https://github.com/nerva-project/NerVault" target="_blank">open-source</a>,
                web based, <a href="https://atomicwallet.io/custodial-non-custodial-wallets-comparison"
                              target="_blank">custodial</a> wallet for the <a href="https://nerva.one"
                                                                              target="_blank">Nerva</a>
                cryptocurrency.</p>
            <br>
            <p>
                For more information about this system, please read the <a href="/faq">FAQ</a>.
                For contact information, please see the <a href="#contact" class="js-scroll-trigger">
                contact</a> section.
            </p>
            <br>
            <p>
                The application itself is free to use but it's development and hosting are not.
                If you find the application useful, please consider donating to the <a
                    href="https://github.com/nerva-project/NerVault?tab=readme-ov-file#funding">
                NerVault development fund</a>.
            </p>
        </div>
    </div>
</section>

<section class="section2" id="statistics">
    <div class="container">
        <div class="section-heading text-center">
            <h2>Statistics</h2>
            <hr>
        </div>
        <div class="row">
            {% if info %}
                <div class="col-lg-2 my-auto">
                    <p>Current Price:<br><code>${{ info.current_price | round(4) }}</code></p>
                </div>
                <div class="col-lg-2 my-auto">
                    <p>Genesis Date:<br><code>{{ info.genesis_date }}</code></p>
                </div>
                <div class="col-lg-2 my-auto">
                    <p>Market Cap Rank:<br><code>{{ info.market_cap_rank }}</code></p>
                </div>
                <div class="col-lg-2 my-auto">
                    <p>Market Cap:<br><code>${{ info.market_cap }}</code></p>
                </div>
                <div class="col-lg-2 my-auto">
                    <p>Total Volume:<br><code>${{ info.total_volume }}</code></p>
                </div>
                <div class="col-lg-2 my-auto">
                    <p>Last Updated:<br><code>{{ info.last_updated | timeparse }}</code></p>
                </div>
            {% else %}
                <p class="col-lg-12">Coin information unavailable at this time.</p>
            {% endif %}
        </div>
        <div class="row">
            {% if node %}
                <div class="col-lg-2 my-auto">
                    <p>Network:<br><code>{{ node.nettype.capitalize() }}</code></p>
                </div>
                <div class="col-lg-2 my-auto">
                    <p>Transactions:<br><code>{{ node.tx_count }}</code></p>
                </div>
                <div class="col-lg-2 my-auto">
                    <p>Block Height:<br><code>{{ node.height }}</code></p>
                </div>
                <div class="col-lg-2 my-auto">
                    <p>Difficulty:<br><code>{{ node.difficulty }}</code></p>
                </div>
                <div class="col-lg-2 my-auto">
                    <p>Database Size:<br><code>{{ (node.database_size / 1073741824) | round(2) }} GB</code></p>
                </div>
                <div class="col-lg-2 my-auto">
                    <p>Daemon
                        Address:<br><code>{{ "https" if config.DAEMON_SSL else "http" }}://{{ config.DAEMON_HOST }}:{{ config.DAEMON_PORT }}</code>
                    </p>
                </div>
            {% else %}
                <p class="col-lg-12">Network information unavailable at this time.</p>
            {% endif %}
        </div>
    </div>
</section>

<section class="section1" id="contact">
    <div class="container">
        <div class="section-heading text-center">
            <h2>Contact</h2>
            <p>
                The best way to get help is to join the <a href="https://discord.gg/ufysfvcFwe" target="_blank"
            >Nerva Discord</a> and ask in the <code>#nervault</code> channel. You can also reach out in the
                following ways:
            </p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="mailto:support@nerva.one"><i class="fa fa-2x fa-envelope"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="https://github.com/nerva-project/NerVault"><i class="fab fa-2x fa-github"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="https://twitter.com/NervaCurrency"><i class="fab fa-2x fa-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="https://discord.gg/ufysfvcFwe"><i class="fab fa-2x fa-discord"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="https://t.me/NervaCrypto"><i class="fab fa-2x fa-telegram"></i></a>
                </li>
            </ul>
        </div>
    </div>
</section>

{% include 'footer.html' %}

{% include 'scripts.html' %}

</body>
</html>
