<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

<body id="page-top">

{% include 'navbar.html' %}

<section class="section2">
    <div class="container-slim">
        <div class="section-heading text-center">
            <img src="/assets/img/maintenance.png" alt="Maintenance Image">

            <hr>

            <p>
                NerVault is currently undergoing scheduled maintenance, we will be back soon. Thanks for your patience!
            </p>

            <div class="btn-grp">
                <a href="/" class="btn btn-outline btn-xl">Refresh</a>
            </div>
        </div>
    </div>
</section>

{% include 'footer.html' %}

{% include 'scripts.html' %}

</body>
</html>
