<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

<body id="page-top">

{% include 'navbar.html' %}

<section class="section4">
    <div class="container">
        <h2>Terms of Service</h2>
        <p>
            By using this service, users must accept and agree to be bound by the terms of service outlined below:
        </p>
        <ol>
            <li>
                The user shall be responsible for saving their wallet's mnemonic seed locally, only the wallet
                database is backed up by us <b class="warning-text">(No user wallets are backed up)</b>.
            </li>
            <li>
                The user shall accept the risks in using this service to manage Nerva funds.
            </li>
            <li>
                The user shall take responsibility for any mishap that occurs with their account or wallet funds.
            </li>
            <li>
                <b class="warning-text">
                    Under no circumstances will this service be liable for any lost
                    cryptocurrency due to any reason.
                </b>
            </li>
        </ol>
    </div>
</section>

{% include 'footer.html' %}

{% include 'scripts.html' %}

</body>
</html>
