<footer>
    <div class="container">
        <p>&copy; <script>document.write(new Date().getFullYear().toString())</script> <a href="https://sn1f3rt.dev">Sayan "Sn1F3rt" Bhattacharyya</a>, <a href="https://nerva.one">The Nerva Project</a></p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="{{ url_for('meta._terms') }}">Terms of Service</a>
            </li>
            <li class="list-inline-item">
                <a href="{{ url_for('meta._faq') }}">FAQ</a>
            </li>
            <li class="list-inline-item">
                <a href="{{ url_for('meta._privacy') }}">Privacy Policy</a>
            </li>
        </ul>
        <ul class="list-inline social">
            <li class="list-inline-item">
                <a href="mailto:support@nerva.one"><i class="fa fa-envelope"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="https://github.com/nerva-project/NerVault"><i class="fab fa-github"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="https://twitter.com/NervaCurrency"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="https://discord.gg/ufysfvcFwe"><i class="fab fa-discord"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="https://t.me/NervaCrypto"><i class="fab fa-telegram"></i></a>
            </li>
        </ul>
    </div>
</footer>
