<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

<body id="page-top">

{% include 'navbar.html' %}

<section class="section2" id="send">
    <div class="container-slim">
        <div class="section-heading text-center">
            <h2>Reset Password</h2>

            <form class="form-slim" method="POST" action="{{ url_for('auth._reset') }}">
                {{ form.csrf_token }}

                {% for f in form %}
                    {% if f.name != 'csrf_token' %}
                        <div class="form-group">
                            {{ f.label }}
                            {{ f }}
                        </div>
                    {% endif %}
                {% endfor %}

                <ul>
                    {% for field, errors in form.errors.items() %}
                        <li>{{ form[field].label }}: {{ ', '.join(errors) }}</li>
                    {% endfor %}
                </ul>

                <div class="btn-grp">
                    <input type="submit" value="Reset Password" class="btn btn-outline btn-xl">
                </div>
            </form>

            <br>

            <p class="small">
                Don't have an account? <a href="{{ url_for('auth._register') }}">Register</a> now.
            </p>
            <p class="small">
                Already have an account? <a href="{{ url_for('auth._login') }}">Login</a>.
            </p>
        </div>
    </div>
</section>

{% include 'footer.html' %}

{% include 'scripts.html' %}

</body>
</html>
